<router-outlet>

    <body>
        <div class="color-admin-primary container">
            <div class="row">
                <!-- <div class="col-sm-1 ms-2">
                    <img src="../../assets/images/gear.png" width="100px" alt="" />
                </div> -->
                <div class="col-sm-12 align-middle">
                    <div class="mat-h1 mt-4 ms-2 d-flex">Leauge
                        <mat-chip-list #chipList class="m-1">
                            <mat-chip>Setting</mat-chip>
                        </mat-chip-list>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 d-flex justify-content-end">
                    <button mat-raised-button (click)="openDialog()">+ New Leauge</button>
                </div>
            </div>
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
            </mat-form-field>
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">

                    <!-- Position Column -->
                    <ng-container matColumnDef="position">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="nation">
                        <th mat-header-cell *matHeaderCellDef> Nation </th>
                        <td mat-cell *matCellDef="let element"> {{element.nation}} </td>
                    </ng-container>

                    <!-- Symbol Column -->
                    <ng-container matColumnDef="teams">
                        <th mat-header-cell *matHeaderCellDef> Teams </th>
                        <td mat-cell *matCellDef="let element"> {{element.teams}} </td>
                        <!-- <td mat-cell *matCellDef="let element"> <button mat-icon-button
                                aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon>edit_document</mat-icon>
                            </button></td> -->
                    </ng-container>

                    <ng-container matColumnDef="edit">
                        <th mat-header-cell *matHeaderCellDef> Edit </th>
                        <td mat-cell *matCellDef="let element"> <button mat-icon-button
                                aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon class="mat-edit">edit_document</mat-icon>
                            </button></td>
                    </ng-container>

                    <ng-container matColumnDef="delete">
                        <th mat-header-cell *matHeaderCellDef> Delete </th>
                        <td mat-cell *matCellDef="let element"> <button mat-icon-button
                                aria-label="Example icon button with a vertical three dot icon">
                                <mat-icon class="mat-delete">delete</mat-icon>
                            </button></td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="team-row">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons
                    aria-label="Select page of periodic elements">
                </mat-paginator>
            </div>
        </div>
    </body>
</router-outlet>