/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body .header {
    margin: 10px !important;
    /* color: #2A3543 !important; */
}

.color-primary {
    background-color: #2A3543 !important;
    color: white !important;
}

.color-primary-footer {
    background-color: #2A3543 !important;
}

.mat-h1 {
    font-weight: 500 !important;
    font-size: 50px !important;
}

.color-second {
    background-color: #131A21 !important;
    color: white !important;
}

.color-admin-primary {
    background-color: white !important;
    color: black !important;
}

mat-card {
    margin: 2px !important;
    width: 100%;
}

.justify-content-center {
    display: flex;
    justify-content: center;
}

.mt-1 {
    margin-top: 10% !important;
}

.mat-icon-button:hover .mat-edit {
    color: gray;
}

.mat-icon-button:hover .mat-delete {
    color: red;
}

label {
    font-weight: 500 !important;
}