<mat-toolbar class="color-primary">
  <span class="fill-remaining-space">
    <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"
      (mouseover)="menuTrigger.openMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <span>
        <div *ngFor="let item of listMenu;">
          <button mat-menu-item (click)="setIndexTabMenu(item.Seq - 1)" routerLink="{{item.RouterLink}}" *ngIf="!item.IsMenuItem">
            <mat-icon>{{item.Icon}}</mat-icon>
            <span>{{item.MenuName}}</span>
          </button>
          <button mat-menu-item [matMenuTriggerFor]="setting" *ngIf="item.IsMenuItem">
          <mat-icon>{{item.Icon}}</mat-icon>
          <span>{{item.MenuName}}</span>
        </button>
        </div>
      </span>
    </mat-menu>
    <mat-menu #setting="matMenu">
      <button mat-menu-item *ngFor="let item of listSettingMenu;" routerLink="{{item.RouterLink}}">{{item.SubMenuName}}</button>
      <!-- <button mat-menu-item>Mammals</button> -->
    </mat-menu>
  </span>
  <span class="fill-remaining-space">Pes-Tournament</span>
</mat-toolbar>
<mat-tab-group animationDuration="0ms" [selectedIndex]="indexTabMenu">
  <div *ngFor="let item of listMenu;">
    <mat-tab *ngIf="!item.IsMenuItem" label="{{item.MenuName}}"></mat-tab>
  </div>
</mat-tab-group>

<router-outlet></router-outlet>

<footer id="sticky-footer" class="flex-shrink-0 py-4 color-primary-footer text-white-50">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</footer>