<div class="d-flex">
  <mat-icon class="mt-1" aria-hidden="false" aria-label="Example home icon" fontIcon="add_circle_outline"></mat-icon>
  <h2 mat-dialog-title>New Leauge</h2>
</div>
<mat-dialog-content class="mat-typography">
  <div class="row">
    <div class="col-sm-12">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="objLeague.LeagueName" name="leagueName">
      </mat-form-field>
      <mat-form-field appearance="fill" class="ms-1">
        <mat-label>Select country</mat-label>
        <mat-select [(ngModel)]="objLeague.CountryID" name="countryID" (selectionChange)="onChangeCountry();">
          <mat-option *ngFor="let country of listCountry;" value="{{country.CountryID}}">{{country.CountryName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-sm-12">
      <!-- <img src="/assets/images/flag/argentina.png" width="100px"> -->
      <div class="m-2"><img [src]="urlImgLogo" width="200px" *ngIf="urlImgLogo"></div>
      <p>
        <label>Logo : </label>
        <input type="file" class="ms-1" (change)="selectFile($event)" mat-stroked-button>
        <!-- <input type="file" (change)="selectFile($event)"> -->
      </p>
      <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onSaveLeauge()">Save</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>